<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aobao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{252,256}</string>
            </dict>
            <key>aobao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{252,235}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,235}}</string>
                <key>sourceSize</key>
                <string>{256,237}</string>
            </dict>
            <key>aobaohit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>aobaohit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,387},{107,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>aobaohit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,258},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_aobao.png</string>
            <key>size</key>
            <string>{420,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ba753a0f150dc9e8e6ad223bd55527$</string>
            <key>textureFileName</key>
            <string>skill_aobao.png</string>
        </dict>
    </dict>
</plist>
